.frame{
	max-width: 651px;
	margin: 0 auto;
	min-height:757px;

	background-image: url(../img/frame__background.png);
	background-position: center;
	background-size: cover;

	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}
.messangesBlock {
	padding: 41px 15px 30px 15px;

	border-bottom: 1px solid #DBDBDB;

	position: relative;
}
.messange__inner{
	display: flex;
	margin-bottom: 20px;
}
.messange__inner:last-child{
	margin-bottom: 0;
}
.messange__inner.odd:before{
	content: "";
	
	width: 47px;
	height: 47px;

	background-image: url('./../img/icon.png');
	background-position: center;
	background-size: cover;

	position:absolute;
	left: 10px;
	clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	.messange__inner.odd:before,
	.messange__inner.even:after{
		border-radius: 50px;
	}
}
.messange__inner.even:after{
	content: "";
	
	width: 47px;
	height: 47px;

	background-image: url('./../img/icon.png');
	background-position: center;
	background-size: cover;

	position:absolute;
	right: 10px;
	clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
	-ms-border-radius: 15px;
}


.messange {
	background-color: #F1F3F5;
	border-radius: 5px;
	padding: 15px 15px 15px 22px;
	line-height: 24px;

	position: relative;

	width: auto
}

.odd .messange:before{
	content: "";
	display: block;
	width:15px;
	height: 8px;
	background-image: url(./../img/Rectangle\ 3.png);

	position: absolute;
	left: -5px;
}
.even .messange:before{
	content: "";
	display: block;
	width:15px;
	height: 8px;
	background-image: url(./../img/Rectangle\ 3.png);

	position: absolute;
	right: -5px;
}

.odd {
	padding-left: 50px;
}
.even {
	padding-right: 50px;
	justify-content: flex-end;
}

.messange__date{
	margin-bottom: 16px;

	display: flex;
	position: relative;
	
	flex: 1 0 0;

	text-align: center;
}

.messange__date:before{
	content: "";
	display: block;

	height: 1px;
	flex: 0 0 40%;

	background-color: #DBDBDB;
	position: relative;
	top: 6px;
	left: -15px;
}

.messange__date:after{
	content: "";
	display: block;
	
	height: 1px;
	flex: 0 0 42%;

	background-color: #DBDBDB;
	
	position: relative;
	top: 6px;
	right: -20px;
}

.form__input-inner{
	margin-top: 20px;


}
.form__input-inner{
	padding: 0 20px;
}
.form__input{
	width: 100%;
	height: 130px;
	border-radius: 5px;
	padding: 5px;
}
.form__button-inner {
	margin-top: 20px;
}

.form__button{
	font-family: 'Noto Sans', sans-serif;
	font-weight: 700;
	border-radius: 20px;
	background-color: #0F54B9;
	color: #fff;
	padding: 10px 20px;

	margin-left: 20px;

	transition: background-color .2s, box-shadow .2s;
}
.form__button:hover{
	cursor: pointer;
	background-color: #083b87;
	box-shadow: 0 0 5px 5px #0F54B9;
}
.form__button:active{
	background-color: #4f8ae1
}
.form__button-inner{
	padding-bottom: 20px;
}

.frame__body{
	padding-top: 10px;
}

.frame__link{
	font-size:20px;
	padding: 5px 10px;
	text-transform: uppercase;	
	background-color: #fff;
	border: 2px solid #000;
	
	margin-left:5px;

	transition: background-color .2s, color .2s;
}
.frame__link:hover{
	cursor: pointer;
	background-color: #8f8f8f;
	color: #fff;
}

.frame__link:active{
	background-color: #000;
}


