:root{
	--text-size-title: 24px;
}

header, 
footer{
	background-color:#C4C4C4;
	height: 90px;
	line-height: 90px;
	text-align: center;
	font-size: var(--text-size-title);
}
header{
	margin-bottom: 10px;
}

/* БЛОК - grey */
.grey{
	display: flex;
	height: 497px;
	

	margin-bottom: 10px;
}

.grey__left,
.grey__right{
	color: #fff;
}

.grey__left{
	flex: 0 1 492px;
	padding: 30px 46px 53px 25px;

	text-align: center;
	line-height: 26.2px;
	font-size: 18px;
	background-color: #A2A9B7;

	margin-right: 10px;
}
.grey__right{
	flex: 0 .85 249.3px;
	display: flex;
	flex-direction: column;
	
	justify-content: space-between;


}
.grey__right-item{
	height: 241px;
	background-color: #A2A9B7;

	padding: 15px;
	display: flex;
	align-items: flex-end;
}

@media(max-width:480px){
	.grey{	
		height: 210px;	
	}
	.grey__left{
		flex: 0 1 320px;
		padding: 19px 19px 2px 10px;
		overflow: scroll;
		
	}
	.grey__right{
		flex: 0 1 102px;
	}
	.grey__right-item{
		height: 102px;
	}
}
/* БЛОК - grey */


/* БЛОК - center */
.center {
	display: grid;
	display: -ms-grid;
	
	/* grid-area: 	"topLeft topMiddle topRight"
					"bottomLeft bottomMiddle bottomRight"; */
	grid-template-columns: repeat(3, 1fr);
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-rows: 155px 155px;
	-ms-grid-rows: 155px 155px;

	margin-bottom: 10px;
}
.center__item{
	display: flex;
	padding: 15px;
	align-items: flex-end;
	margin-right: 10px;
}
.center__item1 {
	background-color: #E8EBED;
	
	margin-bottom: 10px;

	-ms-grid-row: 1;
	-ms-grid-column: 1;
}
.center__item2 {
	background-color: #E8EBED;
	margin-bottom: 10px;

	-ms-grid-row: 1;
	-ms-grid-column: 2;
}
.center__item3 {
	background-color: #90BCE8;
	margin-right: 0;
	margin-bottom: 10px;

	-ms-grid-row: 1;
	-ms-grid-column: 3;
}
.center__item4 {
	background-color: #E8EBED;
	grid-column: 1 / 3;
	-ms-grid-column: 1;
	-ms-grid-column-span: 2;

	grid-row: 2 / 3;
	-ms-grid-row: 2;
}
.center__item5 {
	background-color: #FEBF26;
	margin-right: 0;

	-ms-grid-row: 2;
	-ms-grid-column: 3;
}


@media(max-width:480px){
	.center__item{
		margin: 0;
	}
	.center {
		grid-template-columns: repeat(2, 1fr);
		-ms-grid-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 155px);
		-ms-grid-rows: 155px 155px 155px;
	}
	.center__item1{
		margin-right: 10px;

		-ms-grid-row: 1;
		-ms-grid-column: 1;
	}
	.center__item2{
		-ms-grid-row: 1;
		-ms-grid-column: 2;
	}
	.center__item3 {
		margin: 0 10px 0 0;

		-ms-grid-row: 3;
		-ms-grid-column: 1;
	}
	.center__item4 {
		grid-column: 1 / 3;
		-ms-grid-column: 1;
		-ms-grid-column-span:3;

		grid-row: 2 / 3;
		-ms-grid-row:2;

		margin: 10px 0;
	}
	.center__item5 {
		background-color: #FEBF26;
		margin-right: 0;
		-ms-grid-row: 3;
		-ms-grid-column: 2;
	}
}
/* БЛОК - center */


/* БЛОК - green */
.green {
	display: flex;

	font-family: 'Noto Sans', sans-serif;
}
.green__left {
	flex: 0 1 241px;
	
	margin-right: 10px;
}
.green__left-top,
.green__left-bottom{
	height: 241px;
	display: flex;
	padding:15px;
	align-items: flex-end;

	background-color: #E3EBD3;
}

.green__left-top {
	margin-bottom: 10px;
}
.green__left-bottom {
	/* background-image: url('./../img/ocean.png');
	background-position: center center;
	background-size: cover; */
	background: #fff url('./../img/ocean.png') center / cover no-repeat scroll;

	display: flex;
	align-items: flex-end;
	padding: 15px;
	color: #FFFFFF;
}
.green__right {
	flex: 1 1 492px;

	background-color: #E3EBD3;
	padding: 15px;
}
.green__subtitle {
	display: flex;
	margin-bottom: 30px;
}

.green__name{
	flex: 2 1 0;
	background-color: #E3EBD3;
	padding-right:5px;

	display: block;
}
.green__subtitle:nth-child(3) .green__name {
	flex: 2 1 50%;
}

.green__betweenBorder{
	flex: 1 0 55%;

	border-bottom:1px dashed #000;
}

.green__subname{
	flex: 1 1 0;
	
	padding-left:5px;
	text-align: right;

	display: block;
}

@media(max-width: 480px){
	.green {
		display: none;
	}
}
/* БЛОК - green */


/* БЛОК - bright */
.bright{
	display: grid;
	display: -ms-grid;
	
	grid-template-columns: repeat(3, 1fr);
	-ms-grid-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(2, 155px);
	-ms-grid-rows: 155px 155px;

	margin: 10px 0;
}
.bright__item{
	display: flex;
	align-items: flex-end;
	padding: 15px;
	background-color: #FFAA87;
}
.bright__item1 {
	-ms-grid-column: 1;
	-ms-grid-row: 1;

	margin-right: 10px;
	margin-bottom: 10px;
}

.bright__item2 {
	grid-column: 2 / 4;
	-ms-grid-column: 2;
	-ms-grid-column-span:4;

	
	-ms-grid-row: 1;

	margin-bottom: 10px;
}
.bright__item3 {
	-ms-grid-column: 1;
	-ms-grid-row: 2;

	background-color: #F55E62;
	margin-right: 10px;
}
.bright__item4 {
	-ms-grid-column: 2;
	-ms-grid-row: 2;

	margin-right: 10px;
}
.bright__item5 {
	-ms-grid-column: 3;
	-ms-grid-row: 2;
	background-color: #C7ABD4;
	
}
@media(max-width: 480px){
	.bright{
		margin-top: 0;
		grid-template-columns: repeat(2, 1fr);	
		-ms-grid-columns: 1fr 1fr;
		grid-template-rows: repeat(3, 155px);	
		-ms-grid-rows: 155px 155px 155px;	
	}

	.bright__item1 {
		grid-row: 3 / 4;
		-ms-grid-row:3;	

		grid-column: 1 / 2;
		-ms-grid-column: 1;

		margin: 0 10px 0 0;
	}
	.bright__item2 {
		grid-row: 1 / 2;
		-ms-grid-row:1;

		grid-column: 1 / 3;
		-ms-grid-column: 1;
		-ms-grid-column-span:3;

		margin-right: 0;
		margin-bottom: 10px;
	}
	.bright__item3 {
		grid-row: 3 / 4;
		-ms-grid-row:3;

		grid-column: 2 / 3;
		-ms-grid-column: 2;
		
		margin: 0;
	}
	.bright__item4 {
		grid-row: 2 / 3;
		-ms-grid-row:2;

		grid-column: 1 / 2;
		-ms-grid-column: 1;
		
		margin-right: 10px;
		margin-bottom: 10px;
	}
	.bright__item5 {
		grid-row: 2 / 3;
		-ms-grid-row:2;

		grid-column: 2 / 3;
		-ms-grid-column: 2;
		
		margin-bottom: 10px;
	}
}

/* БЛОК - bright */

@media(max-width: 480px){
	
	.grey{
		order:2;
	} 
	.center{
		order: 1;
	}
	.bright{
		order: 3;
	}
	
} 





.main{
	padding-top: 10px;
}

.main__link{
	font-size:20px;
	padding: 5px 10px;
	text-transform: uppercase;	
	background-color: #fff;
	border: 2px solid #000;
	
	margin:0 5px 20px;

	transition: background-color .2s, color .2s;
}
.main__link:hover{
	cursor: pointer;
	background-color: #8f8f8f;
	color: #fff;
}

.main__link:active{
	background-color: #000;
}
