/* УНИВЕРСАЛЬНЫЕ СТИЛИ */
html {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	color: #000;
}
.container{
	max-width:768px;
	width: 100%;
	margin:0 auto;
	padding: 0 10px;

	display: flex;
	flex-direction: column;
}



 /* Адаптивность */
/* @media (max-width: 1440px){
	
}
@media(max-width:1100px){
	
}

@media(max-width:750px){
	
}
@media(max-width:510px){
	
} */
@media(max-width:480px){
	.container{ 
		max-width:320px;
	}
}